/****************************
		Globals Elements
*****************************/
body {
	font-family: "Open Sans", arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
	text-align: justify;
}

.btn-avs {
	padding: 10px 15px 10px 15px;
	background-color: #880EA0;
	font-size: 16px;
	color: white;
}

.btn-avs:hover {
	background-color: #DE6A10;
	color: white;
}

a {
	color: #880EA0;
	font-weight: 400;
}

a:hover {
	color: #DE6A10;
	text-decoration: none;
}

h1 {
	font-family: "Open Sans", arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: white;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	color: #404040;
	padding: 5px 0px 5px 0px;
}

h3 {
	font-size: 25px;
	font-weight: 400;
	color: #404040;
}

@font-face {
    font-family: "Androgyne_TB";
    src: url(../fonts/Androgyne_TB.otf) format("truetype");
}

/****************************
		Homepage
*****************************/

/* Navigation */
.navbar-brand {
	padding-top: 5px;
} 

.navbar-default {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	background-color: white;
}

.main-menu a, .navbar-default .navbar-nav > li > a {
	padding: 5px 0px 5px 0px;
	margin: 10px 15px 5px 15px;
	font-weight: 700;
	font-size: 15px;
	color: #666;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li.active a:hover {
	border-bottom: 3px solid #7F2788;	
}

.img-background {	
	width: 100%;
}

.header-background {
	height: 560px;
	background: url(../images/grass5.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-call-avs-grey {
	font-size: 55px;
	font-weight: 700;
	color: #cdcdcd;
}

.header-call-avs-purple {
	font-size: 55px;
	font-weight: 700;
	color: #890e96;
}

.call {
	color: white;
	height: 120px;
	font-family: 'Androgyne_TB', arial, sans-serif;
	font-weight: 300; 
	font-size: 45px;
	padding: 120px 10px 20px 10px;
	text-align: center;
	border-radius: 15px;
}

.action {
	margin-top: 20px;
	font-family: "Open Sans", arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}


/* Homepage : Section Business */
.business {
	background-color: #F8F9F2;
	text-align: center;
}

.img-business {
	width: 200px;
	margin: auto;
	border-radius: 50%;
	border: white solid 3px;
}

.img-business:hover {
	border: #DCDCDC solid 3px;
}

.business-content {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.business-content a {
	color: #880E95;
}

.business-content a:hover {
	color: #DE6A10;
	text-decoration: none;
}

.business-more {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.business-more-action {
	font-size: 18px;
}

/* Homepage : Section Prices */
.prices {
	padding-bottom: 10px;
	text-align: center;
}

.prices-text {
	text-align: justify;
}

.prices-action {
	text-align: center;
	padding-top: 15px; 
	padding-bottom: 15px;
}

.img-prices {
	width: 194px;
	margin: auto;
}

.img-reduction-impots {
	width: 100px;
	margin: auto;
}

/* Homepage : Section Contact */
.contact {
	background-color: #F8F9F2;
	padding-bottom: 10px;
	color: #666;
	text-align: center;
}

.contact-numbers {
	text-align: center;
}

.contact-society {
	text-align: justify;
} 

.img-map {
	margin: auto;
}

/* Footer */
.footer {
	background-color: #444444;
	color: white;
	font-weight: 300;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.footer a {
	color: white;
	font-size: 14px;
	font-weight: 300;
}

.footer a:hover {
	color: #DE6A10;
	text-decoration: none;
}

/****************************
		Who
*****************************/
.who {
	text-align: justify;
}

.who-title {
	height: 60px;
	background-color: #7F2788;
	text-align: center;
}

.who-title h1 {
	margin-top: 15px;
}

.who-content {
	background-color: #F8F9F2;
}

.who-content-p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.who-title-section {
	text-align: center;
}

.who-call {
	text-align: center;
	margin-top: 25px;	
	margin-bottom: 25px;
}

.img-who {
	width: 120px;
}

.who h3 {
	margin-top: 0px;
	padding: 10px 0px 5px 0px;
	text-align: left;
}


/****************************
		Page : Benefits
*****************************/

.benefits {
	padding-top: 20px;
	padding-bottom: 20px;
}

.benefits-link {
	padding-top: 10px;
	text-align: center;
}

.benefits-intro {
	padding-bottom: 20px;
	text-align: justify;
}

.benefits-intro h2, h3 {
	text-align: center;
}

.benefits-btn {
	text-align: center;
}

.benefits-background {
	background-color: #F8F9F2;
}

/****************************
		Page : Benefits
*****************************/

.prices-title {
	text-align: center;
}

.prices-table {
	text-align: center;
}

.prices-table th {
	text-align: center;
}

.prices-discounted {
	color: #DE6A10;
}

.prices-specific {
	font-size: 14px;
}

.prices-quotation {
	padding-bottom: 20px;
}
