/****************************
		Globals Elements
*****************************/
body {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #666;
}

.btn-avs {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-color: #880EA0;
	color: white;
}

.btn-avs:hover {
	background-color: #DE6A10;
	color: white;
}

a {
	color: #880EA0;
	font-weight: 400;
}

a:hover {
	color: #DE6A10;
	text-decoration: none;
}


/****************************
		Homepage
*****************************/

/* Navigation */
.navbar-brand {
	padding-top: 5px;
} 

.navbar-default {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	background-color: white;
	color: #666;
}

.main-menu a, .navbar-default .navbar-nav > li > a {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	padding: 5px 0px 5px 0px;
	margin: 10px 15px 5px 15px;
	font-size: 16px;
	color: #666;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li.active a:hover {
	border-bottom: 3px solid #7F2788;	
}

.img-background {	
	width: 100%;
}

.header-background {
	height: 560px;
	background: url(../images/grass5.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-call {
	margin-top: 100px;
}

.header-call-avs-grey {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 55px;
	font-weight: 700;
	color: white;
}

.header-call-avs-purple {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 55px;
	font-weight: 700;
	color: #890e96;
}

.call {
	color: white;
	height: 120px;
	font-family: 'Sofia';
	font-weight: 300; 
	font-size: 45px;
	padding: 20px 10px 20px 10px;
	text-align: center;
	border-radius: 15px;
}

.header-subtitle {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #444;
}

.action {
	margin-top: 20px;
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 20px;
	font-weight: 300;
}


/* Homepage : Section Business */
.business {
	background-color: #F8F9F2;
}

.img-business {
	width: 200px;
	margin: auto;
	border-radius: 50%;
	border: #880EA0 solid 5px;
}

.img-business:hover {
	border: #DE6A10 solid 5px;
}

.business h2 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 35px;
	font-weight: 300;
	color: #880E95;
	padding-bottom: 10px;
	text-align: center;
}

.business-content {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.business-content h3 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #444;
	text-align: center;
}

.business-content a {
	color: #880E95;
}

.business-content a:hover {
	color: #DE6A10;
	text-decoration: none;
}

/* Homepage : Section Prices */
.prices {
	padding-bottom: 10px;
}

.prices h2 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 35px;
	font-weight: 300;
	color: #880E95;
	padding-bottom: 10px;
	text-align: center;
}

.prices h3 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #444;
	text-align: center;
}

.prices-text {
	text-align: justify;
}

.prices-action {
	text-align: center;
	padding-top: 15px; 
	padding-bottom: 15px;
}

.img-prices {
	width: 194px;
	margin: auto;
}

.img-reduction-impots {
	width: 100px;
	margin: auto;
}

/* Homepage : Section Contact */
.contact {
	background-color: #F8F9F2;
	padding-bottom: 10px;
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.contact h2 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 35px;
	font-weight: 300;
	color: #880E95;
	padding-bottom: 10px;
	text-align: center;
}

.contact h3 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #444;
	text-align: center;
}

.contact-numbers {
	text-align: center;
}

.contact-society {
	text-align: justify;
} 

.img-map {
	margin: auto;
}

/* Footer */
.footer {
	background-color: #444444;
	color: white;
	font-family: "Lato",Helvetica,sans-serif;
	font-weight: 200;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.footer a {
	color: white;
	font-size: 14px;
	font-weight: 300;
}

.footer a:hover {
	color: #DE6A10;
	text-decoration: none;
}

/****************************
		Who
*****************************/
.who {
	text-align: justify;
}

.who-title {
	height: 100px;
	padding-top: 10px;
	background-color: #7F2788;
	text-align: center;
}

.who-title h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 35px;
	color: white;
}

.who-content {
	background-color: #F8F9F2;
}

.who-content-p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.who-title-section {
	text-align: center;
}

.who-call {
	text-align: center;
	margin-top: 25px;	
	margin-bottom: 25px;
}

/****************************
		Page : Benefits
*****************************/
.benefits {
	padding-top: 20px;
	padding-bottom: 20px;
}

.benefits-link {
	padding-top: 10px;
	text-align: center;
}

.benefits-intro {
	padding-bottom: 20px;
	text-align: justify;
}

.benefits-intro h2 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 35px;
	font-weight: 300;
	color: #880E95;
	padding-bottom: 10px;
	text-align: center;
}

.benefits h3 {
	font-family: "Lato",Helvetica,sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #880E95;
	padding-bottom: 10px;
	text-align: center;
}

.benefits-btn {
	text-align: center;
}

.benefits-background {
	background-color: #F8F9F2;
}
