
/* Navigation */
.navbar-brand {
	padding-top: 5px;
} 

.navbar-default {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	background-color: white;
}

.main-menu a, .navbar-default .navbar-nav > li > a {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	padding: 5px 0px 5px 0px;
	margin: 10px 15px 5px 15px;
	font-size: 16px;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li.active a:hover {
	border-bottom: 3px solid #7F2788;	
}

.img-background {	
	width: 100%;
}

.header-background {
	height: 600px;
	background: url(images/test.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-call {
	margin-top: 60px;
}

.call {
	color: white;
	height: 120px;
	font-family: 'Sofia';
	font-weight: 300; 
	font-size: 35px;
	padding: 20px 10px 20px 10px;
	text-align: center;
	border-radius: 15px;
}

.action {
	margin-top: 20px;
	font-family: 'Roboto Condensed';
	font-size: 20px;
	font-weight: 300;
}


/* Homepage : Section Business */
.business {
	margin-top: 20px;
}

.business h2 {
	font-size: 25px;
	text-align: center;
}

.business-content h3 {
	font-size: 20px;
	text-align: center;
}

/* Homepage : Section Prices */
.prices {
	margin-top: 20px;
}

.prices h2 {
	font-size: 25px;
	text-align: center;
}

.prices h3 {
	font-size: 20px;
	text-align: center;
}

/* Homepage : Section Contact */
.contact {
	margin-top: 20px;
}

.contact h2 {
	font-size: 25px;
	text-align: center;
}

.contact h3 {
	font-size: 20px;
	text-align: center;
}

/* Footer */
.footer {
	margin-top: 20px;
	background-color: #DCDCDC;
	text-align: center;
}
